// 颜色
$accentColor = #1d75b0
$accentBgColor = #fff
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight =  3.6rem
$sidebarWidth = 20rem
$contentWidth = 980px
$homePageWidth = 100%

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// // 颜色
// $accentColor = #1d75b0
// $accentBgColor = #1d1e1f
// $textColor = #fff
// $borderColor = #1d1e1f
// $codeBgColor = #1d1e1f
// $arrowBgColor = #1d1e1f
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // 布局
// $navbarHeight =  3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 1400px
// $homePageWidth = 100%

// // 响应式变化点
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px
