.navbar{
  line-height: 40px;
  height: 65px;

  .logo {
      height: 40px ;
      min-width: 2.2rem;
      margin-right: 0.8rem;
      vertical-align: top;
      background: #3b5998;
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 12px;
  }

  .site-name {
      font-size: 1.3rem;
      font-weight: 600;
      color: #3b5998 ;
      position: relative;
      padding-left: 50px;
  }

}

.sidebar-item.sidebar-heading {
    transition: color .15s ease;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0.35rem 1.5rem 0.35rem 1.25rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

blockquote {
  font-size: 15px !important;
  color: #858585 !important;
  border-left: 0.25rem solid #42b983 !important;
  font-weight: 1000 !important;
}

a.sidebar-link.active {
    font-weight: 600;
    color: $accentColor ;
    border-left-color: $accentColor  ;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    margin-bottom: -2px;
    border-bottom: 2px solid $accentColor;
    line-height: 2.3rem;
}

.content:not(.custom) {
    max-width: 1024px !important;
}





